.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow:  0 0 10px 0 rgba(110, 135, 6, 0.6);

    &_title {
        margin: auto 10px;
        &_h1{
            margin: auto;
        }
    }

    &_nav {
        width: 200px;
        display: flex;
        justify-content: space-around;
        margin: auto 10px;
    }
}

.active {
    text-decoration: underline;
	// color: #94af11 ;
    font-weight: 700;
}