body {
    margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
	min-height: 100vh;
  	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
    text-decoration: none;
    color: #5a6f02; 

	&:hover{
		text-decoration: underline;
		color: #94af11 ;
	}
}

h1, h2{
	color: #5a6f02;
	display: inline-block;
}

h1 {
  font-size: 2rem; // ou 32px
  margin: 0;
}

h2 {
  font-size: 1.5rem; // ou 24px
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}